In [ ]:
import pandas as pd

In [ ]:
patient_train = pd.read_csv('av_patient_train.csv')

patient_train = patient_train.drop(patient_train.columns[0], axis=1)
print(patient_train.shape)
patient_train.head()

(100000, 12)

,PATIENTID,ETHNICITY,DEATHCAUSECODE_1A,DEATHCAUSECODE_1B,DEATHCAUSECODE_1C,DEATHCAUSECODE_2,DEATHCAUSECODE_UNDERLYING,DEATHLOCATIONCODE,NEWVITALSTATUS,VITALSTATUSDATE,SEX,LINKNUMBER
0,20011904,R,NaN,NaN,NaN,NaN,NaN,NaN,A,2019-02-06,2,820011904
1,40016070,A,"C349,J449",NaN,NaN,NaN,C349,2,D,2017-07-22,2,840016070
2,20203163,A,J969,NaN,NaN,NaN,I64,1,A,2019-02-08,2,820203163
3,40156705,A,NaN,NaN,NaN,"I259,I251",NaN,NaN,D,2017-03-29,1,840156705
4,20051096,A,NaN,NaN,NaN,NaN,NaN,NaN,A,2019-02-09,2,820051096

In [ ]:
patient_train.columns

Index(['PATIENTID', 'ETHNICITY', 'DEATHCAUSECODE_1A', 'DEATHCAUSECODE_1B',
       'DEATHCAUSECODE_1C', 'DEATHCAUSECODE_2', 'DEATHCAUSECODE_UNDERLYING',
       'DEATHLOCATIONCODE', 'NEWVITALSTATUS', 'VITALSTATUSDATE', 'SEX',
       'LINKNUMBER'],
      dtype='object')

In [ ]:
tumour_train = pd.read_csv('av_tumour_train.csv', low_memory=False)

tumour_train = tumour_train.drop(tumour_train.columns[0], axis=1)
print(tumour_train.shape)
tumour_train.head()

(100000, 34)

,TUMOURID,PATIENTID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,MORPH_ICD10_O2,BEHAVIOUR_ICD10_O2,T_BEST,N_BEST,M_BEST,...,ACE27,GLEASON_PRIMARY,GLEASON_SECONDARY,GLEASON_TERTIARY,GLEASON_COMBINED,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,SEX,LINKNUMBER
0,20011904,20011904,2013-03-26,C503,C50,8500.0,3,2,0,NaN,...,NaN,NaN,NaN,NaN,NaN,2014-05-30,L,1 - least deprived,2,820011904
1,40016070,40016070,2017-03-07,C340,C34,8046.0,3,NaN,3,1b,...,NaN,NaN,NaN,NaN,NaN,NaN,R,5 - most deprived,2,840016070
2,20203163,20203163,2017-07-10,C502,C50,8500.0,3,1c,1mi,0,...,NaN,NaN,NaN,NaN,NaN,2017-08-02,R,2,2,820203163
3,40156705,40156705,2016-05-03,C342,C34,8140.0,3,2a,3,1a,...,NaN,NaN,NaN,NaN,NaN,2016-05-03,R,4,1,840156705
4,20051096,20051096,2015-12-15,C509,C50,8500.0,3,2,1,0,...,0,NaN,NaN,NaN,NaN,2016-01-05,L,3,2,820051096

In [ ]:
tumour_train.columns

Index(['TUMOURID', 'PATIENTID', 'DIAGNOSISDATEBEST', 'SITE_ICD10_O2',
       'SITE_ICD10_O2_3CHAR', 'MORPH_ICD10_O2', 'BEHAVIOUR_ICD10_O2', 'T_BEST',
       'N_BEST', 'M_BEST', 'STAGE_BEST', 'STAGE_BEST_SYSTEM', 'GRADE', 'AGE',
       'CREG_CODE', 'SCREENINGSTATUSFULL_CODE', 'ER_STATUS', 'ER_SCORE',
       'PR_STATUS', 'PR_SCORE', 'HER2_STATUS', 'CANCERCAREPLANINTENT',
       'PERFORMANCESTATUS', 'CNS', 'ACE27', 'GLEASON_PRIMARY',
       'GLEASON_SECONDARY', 'GLEASON_TERTIARY', 'GLEASON_COMBINED',
       'DATE_FIRST_SURGERY', 'LATERALITY', 'QUINTILE_2015', 'SEX',
       'LINKNUMBER'],
      dtype='object')

In [ ]:
# Merge the dataframes based on multiple columns (ID, Name)
train_data = pd.merge(patient_train, tumour_train, on=['PATIENTID', 'SEX', 'LINKNUMBER'])

print(train_data.shape)
train_data.head()

(100000, 43)

,PATIENTID,ETHNICITY,DEATHCAUSECODE_1A,DEATHCAUSECODE_1B,DEATHCAUSECODE_1C,DEATHCAUSECODE_2,DEATHCAUSECODE_UNDERLYING,DEATHLOCATIONCODE,NEWVITALSTATUS,VITALSTATUSDATE,...,PERFORMANCESTATUS,CNS,ACE27,GLEASON_PRIMARY,GLEASON_SECONDARY,GLEASON_TERTIARY,GLEASON_COMBINED,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015
0,20011904,R,NaN,NaN,NaN,NaN,NaN,NaN,A,2019-02-06,...,NaN,Y1,NaN,NaN,NaN,NaN,NaN,2014-05-30,L,1 - least deprived
1,40016070,A,"C349,J449",NaN,NaN,NaN,C349,2,D,2017-07-22,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R,5 - most deprived
2,20203163,A,J969,NaN,NaN,NaN,I64,1,A,2019-02-08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-08-02,R,2
3,40156705,A,NaN,NaN,NaN,"I259,I251",NaN,NaN,D,2017-03-29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-05-03,R,4
4,20051096,A,NaN,NaN,NaN,NaN,NaN,NaN,A,2019-02-09,...,0,NaN,0,NaN,NaN,NaN,NaN,2016-01-05,L,3

In [ ]:
patient_test = pd.read_csv('av_patient_test.csv')

patient_test = patient_test.drop(patient_test.columns[0], axis=1)
print(patient_test.shape)
patient_test.head()

(50000, 11)

,PATIENTID,ETHNICITY,DEATHCAUSECODE_1A,DEATHCAUSECODE_1B,DEATHCAUSECODE_1C,DEATHCAUSECODE_2,DEATHCAUSECODE_UNDERLYING,DEATHLOCATIONCODE,VITALSTATUSDATE,SEX,LINKNUMBER
0,20097808,A,NaN,NaN,NaN,NaN,NaN,NaN,2019-02-08,2,820097808
1,60059557,A,NaN,NaN,NaN,NaN,NaN,NaN,2019-02-09,1,860059557
2,40054601,A,C349,C349,NaN,J449,C349,4,2019-02-09,1,840054601
3,60006085,C,NaN,NaN,NaN,NaN,NaN,NaN,2017-09-30,1,860006085
4,40118573,A,C349,I709,NaN,NaN,C349,1,2016-04-27,2,840118573

In [ ]:
patient_test.columns

Index(['PATIENTID', 'ETHNICITY', 'DEATHCAUSECODE_1A', 'DEATHCAUSECODE_1B',
       'DEATHCAUSECODE_1C', 'DEATHCAUSECODE_2', 'DEATHCAUSECODE_UNDERLYING',
       'DEATHLOCATIONCODE', 'VITALSTATUSDATE', 'SEX', 'LINKNUMBER'],
      dtype='object')

In [ ]:
tumour_test = pd.read_csv('av_tumour_test.csv', low_memory=False)

tumour_test = tumour_test.drop(tumour_test.columns[0], axis=1)
print(tumour_test.shape)
tumour_test.head()

(50000, 34)

,TUMOURID,PATIENTID,DIAGNOSISDATEBEST,SITE_ICD10_O2,SITE_ICD10_O2_3CHAR,MORPH_ICD10_O2,BEHAVIOUR_ICD10_O2,T_BEST,N_BEST,M_BEST,...,ACE27,GLEASON_PRIMARY,GLEASON_SECONDARY,GLEASON_TERTIARY,GLEASON_COMBINED,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015,SEX,LINKNUMBER
0,20097808,20097808,2017-03-28,C504,C50,8500.0,3,1c,1,0,...,NaN,NaN,NaN,NaN,NaN,2017-04-24,L,4,2,820097808
1,60059557,60059557,2013-06-18,C187,C18,8140.0,3,4,2,1,...,NaN,NaN,NaN,NaN,NaN,2013-06-18,9,3,1,860059557
2,40054601,40054601,2013-04-17,C342,C34,8140.0,3,1a,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,R,4,1,840054601
3,60006085,60006085,2015-09-04,C187,C18,8140.0,3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9,4,1,860006085
4,40118573,40118573,2014-05-20,C341,C34,8140.0,3,1a,0,0,...,NaN,NaN,NaN,NaN,NaN,2014-09-09,R,4,2,840118573

In [ ]:
# Merge the dataframes based on the 'ID' column
test_data = pd.merge(patient_test, tumour_test, on=['PATIENTID', 'SEX', 'LINKNUMBER'])

print(test_data.shape)
test_data.head()

(50000, 42)

,PATIENTID,ETHNICITY,DEATHCAUSECODE_1A,DEATHCAUSECODE_1B,DEATHCAUSECODE_1C,DEATHCAUSECODE_2,DEATHCAUSECODE_UNDERLYING,DEATHLOCATIONCODE,VITALSTATUSDATE,SEX,...,PERFORMANCESTATUS,CNS,ACE27,GLEASON_PRIMARY,GLEASON_SECONDARY,GLEASON_TERTIARY,GLEASON_COMBINED,DATE_FIRST_SURGERY,LATERALITY,QUINTILE_2015
0,20097808,A,NaN,NaN,NaN,NaN,NaN,NaN,2019-02-08,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-04-24,L,4
1,60059557,A,NaN,NaN,NaN,NaN,NaN,NaN,2019-02-09,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-06-18,9,3
2,40054601,A,C349,C349,NaN,J449,C349,4,2019-02-09,1,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R,4
3,60006085,C,NaN,NaN,NaN,NaN,NaN,NaN,2017-09-30,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,4
4,40118573,A,C349,I709,NaN,NaN,C349,1,2016-04-27,2,...,0,Y1,NaN,NaN,NaN,NaN,NaN,2014-09-09,R,4

In [ ]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 43 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   PATIENTID                  100000 non-null  int64
 1   ETHNICITY                  98032 non-null   object
 2   DEATHCAUSECODE_1A          43017 non-null   object
 3   DEATHCAUSECODE_1B          11956 non-null   object
 4   DEATHCAUSECODE_1C          2036 non-null    object
 5   DEATHCAUSECODE_2           18506 non-null   object
 6   DEATHCAUSECODE_UNDERLYING  43013 non-null   object
 7   DEATHLOCATIONCODE          43072 non-null   object
 8   NEWVITALSTATUS             100000 non-null  object
 9   VITALSTATUSDATE            100000 non-null  object
 10  SEX                        100000 non-null  int64
 11  LINKNUMBER                 100000 non-null  int64
 12  TUMOURID                   100000 non-null  int64
 13  DIAGNOSISDATEBEST          100000 non-null  object
 14  SITE_ICD10_O2              99951 non-null   object
 15  SITE_ICD10_O2_3CHAR        100000 non-null  object
 16  MORPH_ICD10_O2             99970 non-null   float64
 17  BEHAVIOUR_ICD10_O2         99976 non-null   object
 18  T_BEST                     86777 non-null   object
 19  N_BEST                     86670 non-null   object
 20  M_BEST                     79316 non-null   object
 21  STAGE_BEST                 100000 non-null  object
 22  STAGE_BEST_SYSTEM          86201 non-null   float64
 23  GRADE                      99396 non-null   object
 24  AGE                        100000 non-null  int64
 25  CREG_CODE                  100000 non-null  object
 26  SCREENINGSTATUSFULL_CODE   35064 non-null   float64
 27  ER_STATUS                  35809 non-null   object
 28  ER_SCORE                   10357 non-null   float64
 29  PR_STATUS                  23218 non-null   object
 30  PR_SCORE                   5917 non-null    float64
 31  HER2_STATUS                32859 non-null   object
 32  CANCERCAREPLANINTENT       52741 non-null   object
 33  PERFORMANCESTATUS          50397 non-null   object
 34  CNS                        26163 non-null   object
 35  ACE27                      12886 non-null   object
 36  GLEASON_PRIMARY            0 non-null       float64
 37  GLEASON_SECONDARY          0 non-null       float64
 38  GLEASON_TERTIARY           0 non-null       float64
 39  GLEASON_COMBINED           0 non-null       float64
 40  DATE_FIRST_SURGERY         68232 non-null   object
 41  LATERALITY                 100000 non-null  object
 42  QUINTILE_2015              100000 non-null  object
dtypes: float64(9), int64(5), object(29)
memory usage: 33.6+ MB

In [ ]:
train_data.isna().sum()

PATIENTID                         0
ETHNICITY                      1968
DEATHCAUSECODE_1A             56983
DEATHCAUSECODE_1B             88044
DEATHCAUSECODE_1C             97964
DEATHCAUSECODE_2              81494
DEATHCAUSECODE_UNDERLYING     56987
DEATHLOCATIONCODE             56928
NEWVITALSTATUS                    0
VITALSTATUSDATE                   0
SEX                               0
LINKNUMBER                        0
TUMOURID                          0
DIAGNOSISDATEBEST                 0
SITE_ICD10_O2                    49
SITE_ICD10_O2_3CHAR               0
MORPH_ICD10_O2                   30
BEHAVIOUR_ICD10_O2               24
T_BEST                        13223
N_BEST                        13330
M_BEST                        20684
STAGE_BEST                        0
STAGE_BEST_SYSTEM             13799
GRADE                           604
AGE                               0
CREG_CODE                         0
SCREENINGSTATUSFULL_CODE      64936
ER_STATUS                     64191
ER_SCORE                      89643
PR_STATUS                     76782
PR_SCORE                      94083
HER2_STATUS                   67141
CANCERCAREPLANINTENT          47259
PERFORMANCESTATUS             49603
CNS                           73837
ACE27                         87114
GLEASON_PRIMARY              100000
GLEASON_SECONDARY            100000
GLEASON_TERTIARY             100000
GLEASON_COMBINED             100000
DATE_FIRST_SURGERY            31768
LATERALITY                        0
QUINTILE_2015                     0
dtype: int64

In [ ]:
 train_data['DEATHCAUSECODE_1A'].value_counts(dropna=False)

NaN                        56983
C349                       14538
C509                        2467
C189                        2309
J189                        2209
                           ...
M600                           1
J449,I500                      1
C19,C780,C787,C679,C786        1
R64,C349                       1
C19,Y839,T819                  1
Name: DEATHCAUSECODE_1A, Length: 1684, dtype: int64

In [ ]:
train_data['DEATHCAUSECODE_1B'].value_counts(dropna=False)

NaN          88044
C349          3680
C509           591
C189           563
J449           369
             ...
C798,Y839        1
I743,I739        1
K746,C787        1
D377,Y839        1
I519,N289        1
Name: DEATHCAUSECODE_1B, Length: 1289, dtype: int64

In [ ]:
selected_columns = train_data.loc[:, ['DEATHCAUSECODE_1A', 'DEATHCAUSECODE_1B','DEATHCAUSECODE_1C',
                                      'DEATHCAUSECODE_2', 'DEATHCAUSECODE_UNDERLYING']]

selected_columns.head(10)

,DEATHCAUSECODE_1A,DEATHCAUSECODE_1B,DEATHCAUSECODE_1C,DEATHCAUSECODE_2,DEATHCAUSECODE_UNDERLYING
0,NaN,NaN,NaN,NaN,NaN
1,"C349,J449",NaN,NaN,NaN,C349
2,J969,NaN,NaN,NaN,I64
3,NaN,NaN,NaN,"I259,I251",NaN
4,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN
7,C189,NaN,NaN,NaN,C20
8,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN